@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

.App{
  text-align:center;
  background-color: #282c34;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.LoginBox
{
    margin-bottom: 25%;
    text-align: center;
    font-family: 'Share Tech Mono',' monospace';
    opacity: 75%;
    background-color:#ffffff;
    margin : auto;
    max-width : 50vw;
    height: 100%;
    box-shadow: 0 8px 16px 0 rgba(250, 248, 248, 0.2);
    border-radius: 0.8vh;
}
.LoginBox p{
  font-style: 'swap';
  font-size: small;
  text-align: center;
  color: rgb(17, 17, 17);
}
.carfont{
  font-family:'Press Start 2P', 'cursive';
  color: rgb(250, 249, 249);
  font-size: 9px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align:center;
  background-color: #030303;
  border-radius: 8%;

}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card p{
  font-family:'Share Tech Mono',' monospace' ;
  font-size: small;
  color: #ffffff;
  text-align: left;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.btn {
  border-radius: 4px;
  background-color: #050505;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
.refont{
  font-family:'Oswald', 'sans-serif';
  color: rgb(10, 10, 10);
  font-size: 20px;
}


